*{
	margin:0;
	padding:0;
	box-sizing:
}
body{
	/*background: #4E843C;*/
	background: #56ab2f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Lato', sans-serif;
	/*min-width: 1324px;*/
}
ul li{
	list-style:none;
}
h2{
	font-size: 1.5em;
	padding:15px 0 25px 0;
	text-align:center;
	font-weight: bolder;
}
h3{
	font-size: 1.25em;
	color: darkmagenta;
	padding:15px 0 25px 0;
	text-align:center;
	font-weight: bolder;
}

/*Environment Selector*/

#envdiv{
	z-index: 2;
	font-size: 1.2em;
	font-family: 'Muli', sans-serif;
	position: fixed;
	margin: 1em;
}
#envname, #envname a {
	cursor: pointer;
	text-decoration: none;
	color: steelblue;
	font-weight:bold;
}
.env {
	z-index: 2;
    width: 15em;
    border: solid 1px;
    padding: 5px;
    margin-bottom: 5px;
		margin-top: 2.7em;
		margin-left: 1em;
	text-align:left;
	position:fixed;
	left:5px;
	background:#fff;
	font-family: 'Muli', sans-serif;
}

/*Link Menu*/
#linkmenu{
	float:right;
	margin: 1em;
	display: inline-block;
}
.link,.link:visited,.link:hover,.link:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#b5d1e3;
	cursor: pointer;
}
.link:hover{
	color:#d73444;
}
.link.before:before,.link.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
.link.before:before{
  top:-0.25em;
}
.link.after:after{
  bottom:-0.25em;
}
.link.before:before,.link.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}
.link.before:hover:before,.link.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:1.4em;
  overflow:hidden;
}
.square .link{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square .link:before{
  left:0;
  transition:0.25s all ease;
}
.square .link:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual .link:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover .link:before,.square:hover .link:after{
  width:100%;
}

/*Nav Menu*/
#navwrapper{
	width: 728px;
	margin: 10px auto;
	background: #fff;
	padding: 10px;
	height: 260px;
	border:12px solid #DDE0CA;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:750px;
}
.nav li{
	width:145px;
	height:180px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:190px;
}
.nav li.embed:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.email:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.transfer:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.destruction:hover{
	border-bottom:4px solid #d15d10;
}
.nav li.retrieve:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
.nav li:active{
  background: rgb(78,132,60);
}
img.icon{
	background:white;
	padding:14px;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:white;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
	font-family: 'Lato', sans-serif;
}
.nav li:hover span{
	padding-top:20px;
}
.embed{
	background:rgba(29, 162, 168, 0.8);
}
.email{
	background:rgba(255, 89, 76, 0.8);
}
.transfer{
	background:rgba(47, 31, 64, 0.8);
}
.destruction{
	background:#d66b24;
}
.retrieve{
	background:rgba(93, 181, 29, 0.8);
}

/*Accordion*/
button.accordion {
	background-color: #A1FFCE; /* fallback for old browsers */
	background-color: -webkit-linear-gradient(to left, #A1FFCE , #FAFFD1); /* Chrome 10-25, Safari 5.1-6 */
	background-color: linear-gradient(to left, #A1FFCE , #FAFFD1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #4E843C;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.15em;
  transition: 0.4s;
	font-family: 'Muli', sans-serif;
	font-weight: bolder;
}
button.accordion.active {
	background-color: #00d2ff; /* fallback for old browsers */
	background-color: -webkit-linear-gradient(to left, #00d2ff , #928DAB); /* Chrome 10-25, Safari 5.1-6 */
	background-color: linear-gradient(to left, #00d2ff , #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button.accordion:hover {
	background-color: #b0d4e3;
	background-color: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf));
	background-color: -webkit-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background-color: -o-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background-color: -ms-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background-color: linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 );
}
div.panel {
  padding: 0 18px;
	background-color: #E0EAFC; /* fallback for old browsers */
	background-color: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
	background-color: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}
div.panel.show {
  opacity: 1;
  max-height: 10000px;
}

/*Panel Content CSS*/
.panelcontent {
  width: 100%;
  margin-top: 1em;
	/*padding: 1.5em;*/
	font-family: 'Muli', sans-serif;
}
h4 {
	text-align: center;
	color: black;
	/*margin-bottom: 1em;*/
}
.panelcontent p{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: .875em;
	font-style: italic;
	margin-top: 1em;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 1em 1em;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Muli', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .875em;
}
.form button {
	font-weight: bolder;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: .875em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form select{
	font-family: 'Muli', serif;
	margin-bottom: 15px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form h4, .responsebox h4{
	margin-bottom: 1em;
}
.form p{
	text-align: left;
	font-size: .8em;
	font-style: normal;

}
.apicontainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.form {
	flex-basis: 30%;
}
.responsebox {
	flex-basis: 70%;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 1em 1em;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.response {
	margin:auto;
	width: 95%;
	height: 85%;
	border: 3px solid #BBB;
}

/*Workspace Box*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
		background: #ECE9E6; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 80%;
		height: 80%;
}
.close-button {
	float:right;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  border: none;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font: normal 3em/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	cursor: pointer;
}
.close-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(45deg)   ;
  transform: rotateZ(45deg)   ;
}
.close-button::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(-45deg)   ;
}
.close-button:hover{
	background: red;
}

#workspaceframe, #eosecuritycheckframe{
		background: white;
		width: 100%;
		height: 90%;
		margin-top:.5em;
}

/*Span for eoSecurityCheck*/
.inputSpan {
	color: royalblue;
	font-weight: bolder;
}
